body {
    background-color: brown;
}
h1 {
    color: antiquewhite;
}
h2 {
    color: antiquewhite;
}
tr {
    color: antiquewhite;
    padding: auto;
}
img{
    height: 25%;
    width: 25%;
    border-radius: 100%;
    border: solid 0px;
}